
*.log
*.pdf
*.out
*.aux

ut-thesis.bbl
ut-thesis.blg
ut-thesis.ins
ut-thesis.toc
zt_thesis.bbl
zt_thesis.blg
zt_thesis.glg
zt_thesis.glo
zt_thesis.gls
zt_thesis.glsdefs
zt_thesis.ist
zt_thesis.lof
zt_thesis.lot
zt_thesis.synctex.gz
zt_thesis.toc
glossaries.bbl
glossaries.blg
